<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <!--Anger teckenkodningen för HTML-dokumentet-->
    <meta charset="UTF-8">

    <!--CSS ramverket Bootstrap & Fontawesome anslutna till CSS filen "style.css"-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Profile</title>
</head>

<body>

<!--Blockelement som adderar båda navigeringsfält "nav" & "nav-2"-->
<th:block th:if="${user.username != null}">
    <nav th:include="navigation.html :: nav"></nav>
</th:block>

<th:block th:if="${user.username == null}">
    <nav th:include="navigation.html :: div.nav-2"></nav>
</th:block>

<!--Sektionelement för profilens framsida-->
<section class="container">
    <a th:href="@{'/profiles'}" class="btn">View All Members</a>

    <!--Behållarelement med textattribut & bildattribut för objektet "user"-->
    <div class="profile-grid my-1">
        <div class="profile-top bg-light p-2">
            <img th:src="@{${user.img}}" alt="Profile Image" src="">
            <h2 th:text="${user.username}"></h2>
            <p th:text="${user.title}"></p>
            <p th:text="${user.address}"></p>
        </div>
    </div>

</section>

</body>

</html>