<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <!--Anger teckenkodningen för HTML-dokumentet-->
    <meta charset="UTF-8">

    <!--CSS ramverket Bootstrap & Fontawesome anslutna till CSS filen "style.css"-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <title>Social Network Members</title>
</head>

<body>

<!--Bakgrundsbild inom div-element-->
<div class="div-profiles-img">

<!--Blockelement som adderar båda navigeringsfält "nav" & "nav-2"-->
<th:block th:if="${user.id}">
    <nav th:include="navigation.html :: nav"></nav>
</th:block>

<th:block th:if="${user.id == 0}">
    <nav th:include="navigation.html :: div.nav-2"></nav>
</th:block>

<!--Sektionelement för Social Network Members framsida-->
<section class="container">
    <h1 class="text-profiles"> <i class="fas fa-users"></i> Social Network Members</h1>
    <p class="lead"><i class="fa fa-connectdevelop" aria-hidden="true"></i>Digital view of connected members</p>

    <!--Iterativ attribut för modellobjektet "user"-->
    <div class="profiles" th:each="user: ${users}">
        <div class="profile bg-light">

            <!--Bildattribut vars klass medför cirkulär bildform för modellobjektet "user"-->
            <img class="round-img" th:src="@{${user.img}}" alt="Profile Image" src="">

            <!--Behållarelement med textattribut för "user" & en hyperlänk till profilsidan-->
            <div class="py-2">
                <h2 th:text="${user.username}"></h2>
                <p class="lead" th:text="${user.title}"></p>
                <p class="lead" th:text="${user.address}"></p>
                <a th:href="@{'/profile/' + ${user.id}}" class="btn btn-primary">View Profile</a>
            </div>

            <!--Oordnad listattribut som renderar beskrivande profilinformation-->
            <ul class="text-link">
                <li class="text-primary"><i class="fa fa-check"></i> Male</li>
                <li class="text-primary"><i class="fa fa-check"></i> Single</li>
                <li class="text-primary"><i class="fa fa-check"></i> Unemployed</li>
                <li class="text-primary"><i class="fa fa-check"></i> Online</li>
            </ul>

        </div>

    </div>
</section>
</div>
</body>

</html>